<div id="contact" class="modal">
  <div class="modal-content">
    <div class="container">
      <div class="progress">
          <div class="indeterminate"></div>
      </div>
      <p class="contact-title">Github </p>
      <a href="https://github.com/iceCreamParlor" class="contact-text">
        iceCreamParlor 
        <div class="chip">
          link
        </div>
      </a>
      <p class="contact-title">Email</p>
      <p class="contact-text">heejjeeh@gmail.com </p>
      <p class="contact-title">Kakao</p>
      <p class="contact-text">duane94</p>
    </div>
        
  </div>
</div>