<div id="contact" class="modal">
  <div class="modal-content">
    <div class="container">
      
      <%= link_to profiles_path, class: "contact-text" do %>
      Profile
        <span class="green-text float-right">
          link
        </span>
      <% end %>
      <p class="contact-title">Github </p>
      <a href="https://github.com/iceCreamParlor" class="contact-text">
        iceCreamParlor 
        <span class="green-text float-right">
          link
        </span>
      </a>
      <p class="contact-title">Email</p>
      <p class="contact-text">heejjeeh@gmail.com </p>
    </div>
  </div>
</div>