<div id="contact" class="modal">
  <div class="modal-content">
    <div class="container">
      <!-- <p class="contact-title">Profile </p> -->
      <%= link_to profiles_path, class: "contact-title" do %>
      Profile
        <div class="chip">
          link
        </div>
      <% end %>
      <p class="contact-title">Github </p>
      <a href="https://github.com/iceCreamParlor" class="contact-text">
        iceCreamParlor 
        <div class="chip">
          link
        </div>
      </a>
      <p class="contact-title">Email</p>
      <p class="contact-text">heejjeeh@gmail.com </p>
    </div>
  </div>
</div>