  <div class="container">
    <div class="card blue-grey darken-4">
      <div class="card-content white-text">
        <span class="card-title"><%= @portfolio.title %></span>
        <%= @portfolio.content.html_safe %>
      </div>
      <!-- <div class="card-action">
        <a href="#">This is a link</a>
        <a href="#">This is a link</a>
      </div> -->
    </div>
  </div>