/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 *= require_self
 */
@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Caveat+Brush');

@media only screen and (max-width: 320px) {
  .modal { width: 75% !important ; }
  .responsive-image {
    width: 100% !important;
  }
}

@media only screen and (min-width: 321px) and (max-width: 768px){
  .modal { width: 75% !important ; }
  .responsive-image {
    width: 100% !important;
  }
}

@media only screen and (min-width: 769px) and (max-width: 1200px){
  .modal { width: 27% !important ; }
}
@media only screen and (min-width: 1201px) {
  .modal { width: 27% !important ; }
}

.modal-content {
  background-color: #2A373E;
}

.fixed {
  position: fixed !important;
}

.float-right {
  float: right;
}

div.note-editable {
  background-color: #D7D7D7;
}

.contact-title {
  color: gray;
  font-size: 30px;
  margin-bottom: 10px;
}

.contact-text {
  color: white;
  font-size: 20px;
}

img.cropper {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

.gallery-body {
  background-color: #D7D7D7 !important;
}

* {
  
  word-wrap: break-all !important;
  word-break: break-all !important;
  font-family: 'Nanum Gothic', sans-serif;
  font-family: 'Inconsolata', monospace;
  
  /* font-family: 'Consolas', monospace */
}

div, p, span {
  font-weight: 500 !important
}

.white-text{
  color: white;
}

.black-text{
  color: black;
}

.float-btn-list {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.float-btn-ul {
  list-style-type: none;
}

.float-btn {
  margin: 5px;
}

input, select, textarea{
  color: #D7D7D7;
}

.stack-logo {
  width: 100%;
  vertical-align: middle;
}
.logo-frame {
  height: 60px;      /* equals max image height */
  white-space: nowrap;
  text-align: center; margin: 1em 0;
}

.helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
img.hoverable {
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}
img.hoverable:hover {
  -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(100%); /* FF 35+ */
}
.non-scrollbar::-webkit-scrollbar { 
  display: none; 
}

.adjusted-min-height {
  height: 50px !important;
  line-height: 50px !important;
}

.no-vertical-margin {
  margin-top: 7px !important;
  margin-bottom: 7px !important;
}

.brand-logo {
  height: 50px;
}

#plusfriend-chat-button{
  position: fixed;
  right: 5%;
  bottom: 1%;
  z-index: 500;
}