/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 
 *= require_self
 */
.modal { width: 75% !important ; }

.modal-content {
  background-color: #2A373E;
}

div.note-editable {
  background-color: #D7D7D7;
}

.contact-title {
  color: gray;
  font-size: 30px;
}

.contact-text {
  color: white;
  font-size: 20px;
}

img.cropper {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

.gallery-body {
  background-color: #D7D7D7 !important;
}

* {
  word-wrap: break-word !important;
}

div, p, span {
  font-weight: 500 !important
}

.white-text{
  color: white;
}

.black-text{
  color: black;
}

.float-btn-list {
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.float-btn-ul {
  list-style-type: none;
}

.float-btn {
  margin: 5px;
}