<%#= javascript_pack_tag 'home_index' %>

<div class="nav-background">
  <!-- <img class="active" src="http://placehold.it/1400x600" alt="control room"> -->
</div>
<div class="nav-header valign-wrapper">
  <div class="center">
    <h1>Kim Heejae</h1>
    <div class="tagline">Web / Web App / iOS Developer</div>
  </div>
</div>

<!-- Fixed Masonry Filters -->
<div class="categories-wrapper">
  <div class="categories-container">
    <ul class="categories container">
      <% if false %>
        <li class="active">
          <%= link_to 'All', '#all', data: { turbolinks: false } %>
        </li>
      <% end %>
      <% @hashtags.each_with_index do |hashtag, index| %>
        <li class="<% if hashtag.title=='rails' %>active category<%end%>">

          <%= link_to "#{ hashtag.title.humanize }", "##{ hashtag.title }", data: { turbolinks: false } %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded',function(event){
    if(checkCurrentPage('home-index')){
      if(document.getElementsByClassName('active category')[0]){
        document.getElementsByClassName('active category')[0].click()
      }
      
    

      // array with texts to type in typewriter
      // var dataText = [ "Amsterdam.", "Full Service.", "Webdevelopment.", "Wij zijn Occhio!"];
      var dataText = [ "Web / Web App / iOS Developer", "Freelancer Developer"];

      // type one text in the typwriter
      // keeps calling itself until the text is finished
      function typeWriter(text, i, fnCallback) {
        // chekc if text isn't finished yet
        if (i < (text.length)) {
          // add next character to h1
        document.querySelector(".tagline").innerHTML = text.substring(0, i+1) +'<span aria-hidden="true"></span>';

          // wait for a while and call this function again for next character
          setTimeout(function() {
            typeWriter(text, i + 1, fnCallback)
          }, 100);
        }
        // text finished, call callback if there is a callback function
        else if (typeof fnCallback == 'function') {
          // call callback after timeout
          setTimeout(fnCallback, 700);
        }
      }
      // start a typewriter animation for a text in the dataText array
      function StartTextAnimation(i) {
        if (typeof dataText[i] == 'undefined'){
            setTimeout(function() {
              StartTextAnimation(0);
            }, 1000);
        } else {

          // check if dataText[i] exists
          if (i < dataText[i].length) {
            // text exists! start typewriter animation
          typeWriter(dataText[i], 0, function(){
            // after callback (and whole text has been animated), start next text
            StartTextAnimation(i + 1);
          });
          }

        }
        
      }
      // start the text animation
      StartTextAnimation(0);
    }
    
  });


</script>
