
<div class="nav-background">
  <img class="active" src="http://placehold.it/1400x600" alt="control room">
</div>
<div class="nav-header valign-wrapper">
  <div class="center">
    <h1>I make things</h1>
    <div class="tagline">Portfolio</div>
  </div>
</div>

<!-- Fixed Masonry Filters -->
<div class="categories-wrapper">
  <div class="categories-container">
    <ul class="categories container">
      <% if false %>
        <li class="active">
          <%= link_to 'All', '#all', data: { turbolinks: false } %>
        </li>
      <% end %>
      <% @hashtags.each_with_index do |hashtag, index| %>
        <li class="<% if hashtag.title=='rails' %>active category<%end%>">
          
          <%= link_to "#{ hashtag.title.humanize }", "##{ hashtag.title }", data: { turbolinks: false } %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<script>
  document.addEventListener('turbolinks:load', function(){
    document.getElementsByClassName('active category')[0].click()
  })
  
</script>